<!DOCTYPE html>
<html>
<head>
    <title>{{#if title}}{{title}}{{/if}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/bower/html5shiv/dist/html5shiv.js"></script>
    <![endif]-->
    <script src="/bower/underscore/underscore-min.js"></script>
    <script src="/bower/angular/angular.min.js"></script>
    <script src="/bower/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower/angular-animate/angular-animate.min.js"></script>
    {{#if settings.production}}
        <script src="/js/build/sss.min.js?v=2"></script>
    {{else}}
        <script src="/bower/jquery/dist/jquery.min.js"></script>
        <script src="/js/app/services/util.js"></script>
        <script src="/js/app/services/node-services.js"></script>
        <script src="/js/app/services/search-service.js"></script>
        <script src="/js/app/sss/search/view.js"></script>
        <script src="/js/app/sss/results/view.js"></script>
        <script src="/js/app/app.js"></script>
    {{/if}}

    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="nav navbar-left">
                        {{#if title}}<a class="navbar-text" href="/">{{title}}</a>{{/if}}
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="nav navbar-right">
                        {{#if isAuthenticated}}
                            <p class="navbar-text">Signed in as {{user.name}} <a class="navbar-link" href="/logout" title="Logout"><span class="glyphicon glyphicon-log-out"></span></a></p>
                        {{else}}
                            <p class="navbar-text"><a class="navbar-link" href="/login" title="Login">Login <span class="glyphicon glyphicon-log-in"></span></a></p>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<main class="container">
    <div class="row">
        <div class="col-md-12">
            <section ng-app="app" ui-view></section>     <!-- AngularJS ui-routing takes control -->
        </div>
    </div>
</main>
<footer>
    <nav class="navbar navbar-default navbar-static-bottom">
        <div class="container">
            <div class="row">
                <div class="nav">
                    {{#if title}}<p class="navbar-text">&copy; {{title}} 2015</p>{{/if}}
                </div>
            </div>
        </div>
    </nav>
</footer>
</body>
</html>