<!DOCTYPE html>
<html>
<head>
    <title>{{#if title}}{{title}}{{/if}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/bower/html5shiv/dist/html5shiv.js"></script>
    <![endif]-->
    <link href="../bower/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../bower/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
    <link href="../bower/angular-xeditable/dist/css/xeditable.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script src="/bower/underscore/underscore.js"></script>
    <script src="/bower/angular/angular.js"></script>
    <script src="/bower/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower/angular-animate/angular-animate.js"></script>
    <script src="/bower/jquery/dist/jquery.js"></script>
    <script src="/bower/bootstrap/js/modal.js"></script>
    <script src="/bower/angular-xeditable/dist/js/xeditable.min.js"></script>
    <script src="/bower/angular-file-upload/dist/angular-file-upload.js"></script>
    <script src="/bower/ace-builds/src-min-noconflict/ace.js"></script>
    <script src="/bower/angular-ui-ace/ui-ace.min.js"></script>
    <script src="/app/lib/util.js"></script> <!--these aren't concatenated by grunt so we need them here-->
    <script src="/app/lib/ui-router-breadcrumbs.js"></script>  <!--these aren't concatenated by grunt so we need them here-->

    {{#if settings.development}}
        <script src="/app/services/client-rest-server-interface.js"></script>
        <script src="/app/services/search-service.js"></script>
        <script src="/app/controllers/search.js"></script>
        <script src="/app/controllers/results.js"></script>
        <script src="/app/controllers/details.js"></script>
        <script src="/app/controllers/overview.js"></script>
        <script src="/app/controllers/create.js"></script>
        <script src="/app/controllers/sss.js"></script>
        <script src="/app/app.js"></script>
    {{else}}  <!--we don't need the above in prod since we concat and uglify them all into sss.min.js-->
        <script src="/app/sss.min.js"></script>
    {{/if}}


</head>

<body ng-app="app" >
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="nav navbar-left">
                        {{#if title}}<a class="navbar-text" href="/">{{title}}</a>{{/if}}
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="nav navbar-right">
                        {{#if isAuthenticated}}
                            <p class="navbar-text"><a class="navbar-link" ui-sref="search.create" title="Create Snippet">Add New Snippet <span class="glyphicon glyphicon-plus-sign"></span></a></p>
                            <p class="navbar-text">Signed in as
                                {{#if user.name}}
                                    {{user.name}}
                                {{else}}
                                    {{user.username}}
                                {{/if}}
                                    &nbsp;<a class="navbar-link" href="/logout" title="Logout"><span class="glyphicon glyphicon-log-out"></span></a></p>
                                {{else}}
                            <p class="navbar-text"><a class="navbar-link" href="/login" title="Login">Login <span class="glyphicon glyphicon-log-in"></span></a></p>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ui-breadcrumbs displayname-property="data.displayName"></ui-breadcrumbs>
                </div>
            </div>
        </div>
    </nav>
</header>
<main class="container">
    <div class="row">
        <div class="col-md-12">
            <section ui-view></section>     <!-- AngularJS ui-routing takes control -->
        </div>
    </div>
</main>
<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="nav">
                    {{#if title}}<p class="navbar-text">&copy; {{title}} 2016</p>{{/if}}
                </div>
            </div>
        </div>
    </nav>
</footer>

<!-- modal data for readme markup help -->
<div id="markupHelpModel" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">README Markup Help</h4>
            </div>
            <div class="modal-body">
                <span class="well alert-info">NOTE: Some Github markdown elements are not yet supported.  This page contains all supported elements.</span>
                <br><br>
                <table>
                    <tr>
                        <td style="border-bottom: 1px solid grey" width="325"><h4>Tag Example</h4></td>
                        <td style="border-bottom: 1px solid grey"><h4>Output</h4></td>
                    </tr>
                    <tr>
                        <td><br></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td># Header (use up to six ######)</td>
                        <td><h1>Header (use up to six ######)</h1></td>
                    </tr>
                    <tr>
                        <td><br></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Text is **bold** or *italic* or ~~striked~~</td>
                        <td>Text is <strong>bold</strong> or <i>italic</i> or <del>striked</del></td>
                    </tr>
                    <tr>
                        <td><br></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Horizontal line with: ___ or --- or ***</td>
                        <td><hr style="color: lightgray;"/></td>
                    </tr>
                    <tr>
                        <td><br></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>> Indented quote</td>
                        <td style="border-left: 2px solid lightgray"><div style="margin-left: 20px;">Indented quote</div></td>
                    </tr>
                    <tr>
                        <td><br></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>```<br>Code block (use 3 backticks)<br>```</td>
                        <td><div style="border: 1px solid gray; background-color: #E6E6E6; padding: 5px;">Code block (use 3 backticks)</div></td>
                    </tr>
                    <tr>
                        <td><br></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Inline `Emphasis (use 1 backtick)` style</td>
                        <td>Inline <span style="background-color: #F9F2F4; color: darkred; padding: 5px;">Emphasis (use 1 backtick)</span> style</td>
                    </tr>
                    <tr>
                        <td><br></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>&lt;img src="mypic.jpg" height="" width="100%"/&gt;</td>
                        <td>(the image file you have uploaded to your snippet will display here - you can adjust the height and width if desired)</td>
                    </tr>
                    <tr>
                        <td><br></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>[My link](http://mysite.com)</td>
                        <td><a href="http://mysite.com">My link</a></td>
                    </tr>
                    <tr>
                        <td><br></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>1. Item 1<br>2. Item 2</td>
                        <td><ol><li>Item 1</li><li>Item 2</li></ol></td>
                    </tr>
                    <tr>
                        <td><br></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>* Bullet item 1<br>* Bullet item 2</td>
                        <td><ul><li>Bullet item 1</li><li>Bullet item 2</li></ul></td>
                    </tr>
                    <tr>
                        <td><br></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>* Bullet item 1<br>&nbsp;&nbsp;* Indented item 2 (indent 2 spaces)</td>
                        <td><ul><li>Bullet item 1</li><li style="margin-left: 10px;">Indented item 2</li></ul></td>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>