<!DOCTYPE html>
<html>
<head>
    <title>{{#if title}}{{title}}{{/if}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{#if settings.development}}
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="/bower/html5shiv/dist/html5shiv.js"></script>
        <![endif]-->
        <script src="/bower/underscore/underscore.js"></script>
        <script src="/bower/angular/angular.js"></script>
        <script src="/bower/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="/bower/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="/bower/angular-sanitize/angular-sanitize.js"></script>
        <script src="/bower/angular-animate/angular-animate.js"></script>
        <script src="/bower/jquery/jquery.js"></script>
        <script src="/bower/bootstrap/js/modal.js"></script>
        <script src="/bower/angular-xeditable/dist/js/xeditable.min.js"></script>
        <script src="/app/lib/util.js"></script>
        <script src="/app/lib/ui-router-breadcrumbs.js"></script>
        <script src="/app/services/client-rest-server-interface.js"></script>
        <script src="/app/services/search-service.js"></script>
        <script src="/app/controllers/search.js"></script>
        <script src="/app/controllers/results.js"></script>
        <script src="/app/controllers/details.js"></script>
        <script src="/app/controllers/overview.js"></script>
        <script src="/app/controllers/create.js"></script>
        <script src="/app/controllers/sss.js"></script>
        <script src="/app/app.js"></script>
        <link href="../bower/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link href="../bower/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
        <link href="../bower/angular-xeditable/dist/css/xeditable.min.css" rel="stylesheet">
    {{else}}
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="/libs/html5shiv.js"></script>
        <![endif]-->
        <script src="/libs/underscore-min.js"></script>
        <script src="/libs/angular.min.js"></script>
        <script src="/libs/angular-ui-router.min.js"></script>
        <script src="/libs/ui-bootstrap-tpls.min.js"></script>
        <script src="/libs/angular-animate.min.js"></script>
        <script src="/libs/angular-sanitize.min.js"></script>
        <script src="/libs/jquery.min.js"></script>
        <script src="/libs/sss.min.js?v=2"></script>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    {{/if}}

    <link href="/css/style.css" rel="stylesheet">
</head>

<body ng-app="app" >
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="nav navbar-left">
                        {{#if title}}<a class="navbar-text" href="/">{{title}}</a>{{/if}}
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="nav navbar-right">
                        <p class="navbar-text"><a class="navbar-link" ui-sref="search.create" title="Create Snippet">Add New Snippet <span class="glyphicon glyphicon-plus-sign"></span></a></p>
                        {{#if isAuthenticated}}
                            <p class="navbar-text">Signed in as
                                {{#if user.name}}
                                    {{user.name}}
                                {{else}}
                                    {{user.username}}
                                {{/if}}
                                    &nbsp;<a class="navbar-link" href="/logout" title="Logout"><span class="glyphicon glyphicon-log-out"></span></a></p>
                                {{else}}
                            <p class="navbar-text"><a class="navbar-link" href="/login" title="Login">Login <span class="glyphicon glyphicon-log-in"></span></a></p>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ui-breadcrumbs displayname-property="data.displayName"></ui-breadcrumbs>
                </div>
            </div>
        </div>
    </nav>
</header>
<main class="container">
    <div class="row">
        <div class="col-md-12">
            <section ui-view></section>     <!-- AngularJS ui-routing takes control -->
        </div>
    </div>
</main>
<footer>
    <nav class="navbar navbar-default navbar-static-bottom">
        <div class="container">
            <div class="row">
                <div class="nav">
                    {{#if title}}<p class="navbar-text">&copy; {{title}} 2016</p>{{/if}}
                </div>
            </div>
        </div>
    </nav>
</footer>
</body>
</html>