<!DOCTYPE html>
{{{debug}}}
<html>
    <head>
        <title>{{#if title}}{{title}}{{/if}}</title>
        <meta charset="utf-8">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="/bower/html5shiv/dist/html5shiv.js"></script>
        <![endif]-->
        <link href="/stylesheets/style.css" rel="stylesheet">
    </head>

    <body>
        <header>
            {{#if firstName}}
                <span><a href="/users/logout">Log out {{firstName}}</a></span>
            {{/if}}
        </header>
        <main>
            <section>
                {{#if title}}
                    <a>{{title}}</a>
                {{/if}}
            </section>
            {{{body}}}
        </main>
        <footer>
            <p>&copy; Software Snippet 2015</p>
        </footer>
    </body>
</html>