<!DOCTYPE html>
{{{debug}}}
<html>
    <head>
        <title>{{#if title}}{{title}}{{/if}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="/bower/html5shiv/dist/html5shiv.js"></script>
        <![endif]-->
        <link href="/stylesheets/style.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <!--<nav class="navbar navbar-default navbar-fixed-top">-->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-6">
                            <!--<div class="col-md-offset-1 navbar-text">-->
                                {{#if title}}
                                    <a class="title" href="/">{{title}}</a>
                                {{/if}}
                            <!--</div>-->
                        </div>
                        <div class="col-xs-6">
                            <!--<div class="navbar-text navbar-right">-->
                                {{#if firstName}}
                                    <p>Signed in as {{firstName}} <a href="/users/logout" title="Logout"><span class="glyphicon glyphicon-log-out navbar-link"></span></a></p>
                                {{/if}}
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            <!--</nav>-->
        </header>
        <main class="container">
           <div class="row">
               <div class="col-md-12">
                   {{{body}}}
               </div>
           </div>
        </main>
        <footer>
            <nav class="navbar navbar-default navbar-static-bottom">
                <div class="container">
                    <p>&copy; Software Snippet 2015</p>
                </div>
            </nav>
        </footer>
    </body>
</html>