<!DOCTYPE html>
{{{debug}}}
<html>
    <head>
        <title>{{#if title}}{{title}}{{/if}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="/bower/html5shiv/dist/html5shiv.js"></script>
        <![endif]-->
        <link href="/stylesheets/style.css" rel="stylesheet">
    </head>

    <body class="container">
        <header id="header" class="row">
            <section class="col-md-12">
                <span>
                    {{#if firstName}}
                        <a href="/users/logout">Log out {{firstName}}</a>
                    {{/if}}
                </span>
            </section>
        </header>
        <main class="row">
            <section class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        {{#if title}}
                            <span id="title">{{title}}</span>
                        {{/if}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{{body}}}
                    </div>
                </div>
            </section>
        </main>
        <footer class="row">
            <section class="col-md-12">
                <p>&copy; Software Snippet 2015</p>
            </section>
        </footer>
    </body>
</html>